@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.mask{
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.title{
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 400;
}

.subtitle{
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 500;
}

.body-1{
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
}

.body-2{
  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 400;
}

.button{
  letter-spacing: 1.25px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.caption{
  letter-spacing: 0.4px;
  font-size: 12px;
  font-weight: 400;
}

.overline{
  letter-spacing: 1.5px;
  font-size: 10px;
  text-transform: capitalize;
}